  body {
    margin: 0
  }

  .navbar {
    justify-content: space-between;
    overflow: hidden;
    background-color: #F1F1F1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #38B6FF;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    font-size: 1vw;
    height: 11vh;
  }

  .navbar-txt{
    font-size: 1em; 
    text-align: left;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
  }

  #book-select{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 50px;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 12px;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .operations{
      margin-top: 120px;
      padding: 0em 2vw;
      display: flex;
      flex-wrap: wrap;
  }

  .edit{
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }

  #input-container {
    position: relative;
    margin-left: 40px;
  }

  .research{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 12px;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 1.5vw;
  }
  
  #input-container > img {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 30px;
  }
  
  #input-container > input {
    padding-left: 40px;
  }

  .operations{
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
  }

  .operations :hover{
    background-color: #ddd;
    border-radius: 10px;
    cursor: pointer;
  }

  .promo{
    background-color: #1B8C1F;
    color: black;
    text-align: left;
    border-radius: 10px;
    padding: 0px 5vw 0px 60px;
    margin-top: 10px;
    margin-left: 15vw;
  }

  .promo:hover{
    background-color: #094b0b;
  }

  .promo h3:hover{
    background-color: #094b0b;
  }

  .addition{
    color: #1B8C1F;
    margin-top: 10px;
    margin-left: 100px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .removal{
    color: #c2434d;
    margin-top: 10px;
    margin-left: 100px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .book{
      margin-top: 20px;
      margin-left: 20px;
      width: 80vw;
      font-family: 'Grape Nuts', cursive;
      font-family: 'Open Sans', sans-serif;
  }

  .book-basics{
    padding-top: 1px;
    padding-left: 2em;
  }

  .category{
    color: #0B859F;
    padding-left: 300px;
    font-size: large;
    margin-left: 200px;
  }

  .title{
    font-size: 1.5em;
    padding-left:150px;
    margin-left: 170px;
  }
  
  .price{
    font-size: 1.5em;
    text-align: right;
    padding-right: 20px;
  }

  .synopsis{
    font-size: x-large;
    max-width: 1076px;
    margin-left: 200px;
    padding-top:5px;
    padding-left:150px;
    padding-bottom:5px;
    word-wrap: break-word;
  }

  .adm-edit{
    background-color: #38B6FF;
    color: #fff;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
    margin-left: 375px;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    width: 55%;
  }

  .book-specifics{
    margin-top: 50px;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
  }

  .info-blue{
    background-color: #38B6FF;
    color: #fff;
    padding-right: 10px;
    height: 90px;
  }

  .info-white{
    background-color: #fff;
    color: black;
    padding-right: 10px;
    height: 90px;
  }

  .adm-edit:hover{
    background-color: #1872a7;
  }

  .adm-edit p:hover{
    background-color: #1872a7;
  }

  @media screen and (max-width: 1350px) {
    .promo{
      margin-left: 2vw;
    }
  }

  @media screen and (max-width: 1200px) {
    .promo{
      margin-left: 0vw;
    }

    .research{
      width: 200px;
    }
  
    .img-navbar{
      width: 40px;
    }
  }

  